{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/app"},
          {copy,"./boot_shim.bat","bin/app.bat"},
          {copy,"./boot","releases/0.0.1/app.sh"},
          {copy,"./boot.bat","releases/0.0.1/app.bat"},
          {copy,"/home/arthur/projects/app/rel/.files/vm.args",
                "releases/0.0.1/vm.args"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/app-0.0.1/consolidated/Elixir.Ecto.Queryable.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.DBConnection.Query.beam",
                "lib/app-0.0.1/consolidated/Elixir.DBConnection.Query.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/.compile.protocols",
                "lib/app-0.0.1/consolidated/.compile.protocols"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Ecto.DataType.beam",
                "lib/app-0.0.1/consolidated/Elixir.Ecto.DataType.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.String.Chars.beam",
                "lib/app-0.0.1/consolidated/Elixir.String.Chars.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Phoenix.Param.beam",
                "lib/app-0.0.1/consolidated/Elixir.Phoenix.Param.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Poison.Decoder.beam",
                "lib/app-0.0.1/consolidated/Elixir.Poison.Decoder.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Phoenix.HTML.FormData.beam",
                "lib/app-0.0.1/consolidated/Elixir.Phoenix.HTML.FormData.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Plug.Exception.beam",
                "lib/app-0.0.1/consolidated/Elixir.Plug.Exception.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Enumerable.beam",
                "lib/app-0.0.1/consolidated/Elixir.Enumerable.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Poison.Encoder.beam",
                "lib/app-0.0.1/consolidated/Elixir.Poison.Encoder.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Collectable.beam",
                "lib/app-0.0.1/consolidated/Elixir.Collectable.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Inspect.beam",
                "lib/app-0.0.1/consolidated/Elixir.Inspect.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.IEx.Info.beam",
                "lib/app-0.0.1/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.List.Chars.beam",
                "lib/app-0.0.1/consolidated/Elixir.List.Chars.beam"},
          {copy,"/home/arthur/projects/app/_build/dev/consolidated/Elixir.Phoenix.HTML.Safe.beam",
                "lib/app-0.0.1/consolidated/Elixir.Phoenix.HTML.Safe.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{app,"0.0.1"},[{app,"0.0.1"},elixir,iex,sasl]}.

{lib_dirs,["/home/arthur/projects/app/_build/dev/lib",
           "/home/arthur/projects/app/deps",
           "/home/arthur/elixir/bin/../lib/mix/ebin",
           "/home/arthur/elixir/bin/../lib/ex_unit/ebin",
           "/home/arthur/elixir/bin/../lib/iex/ebin",
           "/home/arthur/elixir/bin/../lib/logger/ebin",
           "/home/arthur/elixir/bin/../lib/elixir/ebin",
           "/home/arthur/elixir/bin/../lib/eex/ebin"]}.

